body {
    background-color: #0f1931;
  }
  
  h1 {
    color: white;
    font-weight: normal;
    text-align: center;
  }
  
  .card {
    background-color: white;
    border-radius: 5px;
    height: 15%;
    margin: 2% auto;
    padding: 2% 5%;
    width: 80%;
  }
  