<div class='container'>
  <h1>Изучаемые языки:</h1>
  {{#each languages}}
    <div class='card'>
      <p>
        Я хочу изучить
        {{this.name}}
      </p>
    </div>
  {{/each}}
</div>
